@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff'), url('fonts/MYRIADPRO-REGULAR.ttf') format('ttf'), url('fonts/MYRIADPRO-REGULAR.eot') format('eot');
}

@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Condensed'), url('fonts/MYRIADPRO-COND.woff') format('woff'), url('fonts/MYRIADPRO-COND.ttf') format('ttf'), url('fonts/MYRIADPRO-COND.eot') format('eot');
}

*
  margin 0
  padding 0
  box-sizing border-box

p
  margin 0

ul
  list-style none

